body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  float: left;
  width: 78%;
}

aside{
  background-color: blanchedalmond;
  float: right;
  width: 20%;
  text-align: center;
}

li {
  display: inline;
}

.meal-photo-text {
  display : flex;
}

.photo {
  float: left;
  padding-right: 10px;
}

